body,
input,
button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-titles {
  align-items: center;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  margin: 5px 5px 0px 5px;
  padding: 3px 20px 5px;
  width: fit-content;
  background-color: #eee;
  font-size: 0.8rem;
}

.editor-container {
  width: 50%;
}

.editor-container section {
  height: auto !important;
}

.editor {
  border: 1px solid #333;
  margin: 0px 5px 5px 5px;
  padding: 10px;
  height: 60vh;
  width: 100%;
}

.preview-container {
  width: 50%;
}

.preview {
  border: 1px solid #333;
  width: calc(100% - 32px);
  height: 60vh;
  margin: 0px 5px 5px 5px;
  padding: 10px;
}

/*.data {
  border: 1px solid #333;
  width: calc(100% - 32px);
  min-height: 10vh;
  margin: 0px 5px 5px 5px;
  padding: 10px;
  resize: vertical;
}*/

.html {
  font-size: 80%;
  overflow-y: auto;
}

.d-flex {
  display: flex;
}

button,
input {
  margin: 5px;
  padding: 5px 10px;
}

label {
  margin: 5px;
}
